/* Makes a box that shows sprite and stats of a pokemon */
.pokemon-box {
    display: inline-block;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Makes a default list style */
.pokemon-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Makes a default sprite size */
.sprite {
    width: 200px;
    height: 200px;
}

.vs-box {
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

.pokemon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}