<p>pokemonbag works!</p>
<button class="btn btn-primary" (click)="getRandomPokemon()">Random pokemon</button>
<button class="btn btn-primary" (click)="getPokemon()">Get pokemon</button>
<p>Pokemons owned: {{pokemonsOwned.length}}</p>

<!-- Loop through all the names in the array -->
<ul>
  <li *ngFor="let pokemon of pokemonsOwned">
    {{pokemon.name}}
  </li>
</ul>

<!-- Loop through all the pokemons in array and display there sprite -->
<ul>
  <li *ngFor="let pokemon of pokemonsOwned">
    <img src="{{pokemon.sprites}}">
  </li>
</ul>


