<p>pokemonbag works!</p>
<button class="btn btn-primary" (click)="getRandomPokemon()">Random pokemon</button>

<!-- Shows start button when started is false -->
<button *ngIf="!started" class="btn btn-primary" (click)="startPokemon()">Start</button>

<p>Pokemons owned: {{pokemonsOwned.length}}</p>

<!-- Loop through all the pokemons in array and display their name and sprite -->
<ul>
    <li *ngFor="let pokemon of pokemonsOwned">
      {{pokemon.name}}
      <img [src]="pokemon.sprites.front_default">
    </li>
</ul>

<button *ngIf="!fighting" class="btn btn-primary" (click)="fight()">Fight</button>

<!-- Shows currentPokemon when figting is true -->
<div *ngIf="fighting" class="pokemon-box">
  <p>Current pokemon: {{currentPokemon.name}}</p>
  <img [src]="currentPokemon.sprites.front_default" class="sprite">

  <!-- Shows the stats of currentPokemon -->
  <p>Stats:</p>
  <ul>
    <li *ngFor="let stat of currentPokemon.stats">
      {{stat.stat.name}}: {{stat.base_stat}}
    </li>
  </ul>
</div>
