<p>pokemonbag works!</p>
<button class="btn btn-primary" (click)="getRandomPokemon()">Random pokemon</button>

<!-- Shows start button when started is false -->
<button *ngIf="!started" class="btn btn-primary" (click)="startPokemon()">Start</button>

<p>Pokemons owned: {{pokemonsOwned.length}}</p>

<!-- Loop through all the pokemons in array and display their name and sprite -->
<ul>
    <li *ngFor="let pokemon of pokemonsOwned">
      {{pokemon.name}}
      <img [src]="pokemon.sprites.front_default">
    </li>
</ul>

<button *ngIf="!fighting" class="btn btn-primary" (click)="fight()">Fight</button>

  <!-- Shows currentPokemon when figting is true -->
  <div *ngIf="fighting" class="pokemon-box">
    <p>Your pokemon: {{currentPokemon.name}}</p>
    <img [src]="currentPokemon.sprites.front_default" class="sprite">
  
    <!-- Shows the stats of currentPokemon -->
    <p>Stats:</p>
    <p>HP: {{HP}}</p>
    <p>Attack: {{attack}}</p>
    <p>Defense: {{defense}}</p>
    <p>Special Attack: {{specialAttack}}</p>
    <p>Special Defense: {{specialDefense}}</p>
    <p>Speed: {{speed}}</p>
</div>

<!-- Shows currentPokemon when figting is true -->
<div *ngIf="fighting" class="pokemon-box">
  <p>Wild pokemon: {{pokemon.name}}</p>
  <img [src]="pokemon.sprites.front_default" class="sprite">

  <!-- Shows the stats of currentPokemon -->
  <p>Stats:</p>
  <p>HP: {{enemyHP}}</p>
  <p>Attack: {{enemyAttack}}</p>
  <p>Defense: {{enemyDefense}}</p>
  <p>Special Attack: {{enemySpecialAttack}}</p>
  <p>Special Defense: {{enemySpecialDefense}}</p>
  <p>Speed: {{enemySpeed}}</p>
</div>
